
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <a class="navbar-brand">
            LightWell DashBoard
        </a>
    </div>
</nav>

<div class="container-fluid margin-custom-top">
    <div class="row">
        <div class="col-md-3 col-sm-4">
            <div class="wrimagecard wrimagecard-topimage">
                <a href="#/wellCluster">
                    <div class="wrimagecard-topimage_header" style="background-color:rgba(187, 120, 36, 0.1) ">
                        <img src="../img/ZoneMarkerIcon-Active-Nearby.svg" style="color:#BB7824"></img>
                    </div>
                    <div class="wrimagecard-topimage_title">
                        <h4>Well Cluster
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-3 col-sm-4">
            <div class="wrimagecard wrimagecard-topimage">
                <a href="#/wellReading">
                    <div class="wrimagecard-topimage_header" style="background-color: rgba(22, 160, 133, 0.1)">
                        <img src="../img/mr.svg" style="color:#BB7824"></img>
                    </div>
                    <div class="wrimagecard-topimage_title">
                        <h4>Well Readings
                            <div class="pull-right badge" id="WrControls"></div></h4>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-3 col-sm-4">
            <div class="wrimagecard wrimagecard-topimage">
                <a href="#/aboutUs">
                    <div class="wrimagecard-topimage_header" style="background-color: rgba(22, 160, 133, 0.1)">
                        <i class="fa fa-info-circle" aria-hidden="true" style="color:#32a2ff"></i>
                    </div>
                    <div class="wrimagecard-topimage_title">
                        <h4>About Us
                            <div class="pull-right badge" id="WrControls"></div></h4>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>