<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-text  navbar-left">
            <a href="#/wellCluster" class="navbar-link navbar-list-left">
         <span class="glyphicon glyphicon-chevron-left">
          </span>
            </a>
        </div>

        <a class="navbar-brand">
            Wells in Clusters {{model.cluster.clusterNo}}
        </a>

        <div class="navbar-text pull-right navbar-right custom-right-margin">
            <a class="navbar-link" href="#/newWell/{{model.clusterId}}">
         <span class="glyphicon glyphicon-plus">
          </span>
            </a>
        </div>
    </div>
</nav>


<div class="container-fluid margin-custom-top-list">
    <div class="row-fluid">
        <div class="col-xs-4 col-sm-4 visible-lg-block visible-md-block master-page">
            <ul class="list-group list-height">
                <li ng-repeat="well in model.cluster.wells" class="list-group-item ">
                    <a href="" class="navbar-link">
                        wellName : {{well.wellId}}
                    </a>
                    <a ng-click="model.fillWellData(well)">
                        <span class="fa fa-pencil-square-o pull-right">
                        </span>
                    </a>
                    <div>
                        wellLocation : {{well.wellLocDesc}}
                    </div>

                </li>
            </ul>
        </div>


        <div class="col-lg-8 col-md-8 col-xs-12 col-sm-12 visible-xs-block visible-sm-block
        visible-md-block visible-lg-block detail-page">
            <!--        <div ng-show="model.error" class="alert alert-danger" role="alert">
                        {{model.error}}
                    </div>-->
            <form>
                <div class="form-group">
                    <label for="wellId">Well Id</label>
                    <input ng-model="model.currentWell.wellId" type="text" class="form-control" id="wellId" placeholder="Well Location text"
                           >
                </div>
                <div class="form-group">
                    <label for="sName">Well Short Name</label>
                    <input ng-model="model.currentWell.wellShortName" type="text" class="form-control" id="sName" placeholder="Well Location text"
                           >
                </div>

                <div class="form-group">
                    <label for="wellLoc">Well Location</label>
                    <input ng-model="model.currentWell.wellLocDesc" type="text" class="form-control" id="wellLoc" placeholder="Well Location text"
                           >
                </div>
                <div class="form-group">
                    <label for="lat">Latitude</label>
                    <input ng-model="model.currentWell.lat" type="text" class="form-control" id="lat" placeholder="Well Location">
                </div>

                <div class="form-group">
                    <label for="long">Longitude</label>
                    <input ng-model="model.currentWell.lng" type="text" class="form-control" id="long" placeholder="Well Location">
                </div>

                <div class="form-group">
                    <label for="installed">Well Installed</label>
                    <input ng-model="model.currentWell.installed" type="text" class="form-control" id="installed" placeholder="Well installed">
                </div>

                <div class="form-group">
                    <label for="range">Well In Range</label>
                    <input ng-model="model.currentWell.inRange" type="text" class="form-control" id="range" placeholder="Well Location">
                </div>

            </form>
            <div class="button-group">
                <a ng-click="model.removeWell()" class="btn btn-danger  btn-block">Delete</a>
                <a ng-click="model.updateWell()" class="btn btn-info  btn-block">Update</a>
            </div>
        </div>
    </div>
</div>
